.ballot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.ballot .ballot-category {
  position: relative;
  display: block;
  width: 100%;  
}

.ballot .ballot-category .ballot-category-title {
  color: #ffffff;
  background-color: #666666;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}

.ballot .ballot-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;  
  width: 100%;
  padding: 20px;
}
