.ballot-item {
  width: 220px;
  background: linear-gradient(rgba(217, 217, 217, .7), rgba(217, 217, 217, .2));
  padding: 30px;
  border: 1px solid #333333;
}

.ballot-item.selected {
  background: linear-gradient(rgba(0, 155, 134, .7), rgba(0, 155, 134, .2));
  border: 1px solid rgb(0, 155, 134);
}

.ballot-item .ballot-item-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.ballot-item .ballot-item-img {
  width: 220px;
  height: 220px;
  margin-bottom: 20px;
}

.ballot-item .ballot-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.ballot-item .ballot-item-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
