@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #0D2436;
  color: #ffffff;
}

.App {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App-header {
  padding: 30px;
  font-size: 32px;
  text-align: center;
}

button {
  font-size: 14px;
  color: #ffffff;
  min-width: 120px;
  height: 45px;
  border-radius: 3px;
}

.btn-select {
  border: 1px solid rgb(0, 155, 134);
  background: linear-gradient(rgba(0, 155, 134, .7), rgba(0, 155, 134, .2));
}

.btn-submit {
  border: 1px solid rgb(148, 133, 0);
  background: linear-gradient(rgba(148, 133, 0, .7), rgba(148, 133, 0, .2));
}